<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <%if item.image.attached?%>
            <%=image_tag item.image , class:"card-img-top"%>
        <%else%>
            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <%end%>        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%=link_to(item.name,item)%></h5>
                <!-- Product price-->
                $<%=item.price%>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <%=link_to('Add to cart',add_cart_path(item_id:item.id,quantity:1),data:{turbo_method: :put },class:"btn btn-outline-dark mt-auto")%>
            </div>
        </div>
    </div>
</div>